webservice/src/main/resources/SG2PBOSSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://service.pboss.js.chinamobile.com/SG2PBOSSService" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.pboss.js.chinamobile.com/SG2PBOSSService">
    <wsdl:documentation>SG2PBOSSService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.pboss.js.chinamobile.com/SG2PBOSSService">
            <xs:element name="replyWorkSheet">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="in" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="replyWorkSheetResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="handleMessage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="handleMessage" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="handleMessageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isAlive">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="in" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isAliveResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="messageAdapter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageAdapter" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="messageAdapterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="replyWorkSheetRequest">
        <wsdl:part name="parameters" element="ns:replyWorkSheet"/>
    </wsdl:message>
    <wsdl:message name="replyWorkSheetResponse">
        <wsdl:part name="parameters" element="ns:replyWorkSheetResponse"/>
    </wsdl:message>
    <wsdl:message name="handleMessageRequest">
        <wsdl:part name="parameters" element="ns:handleMessage"/>
    </wsdl:message>
    <wsdl:message name="handleMessageResponse">
        <wsdl:part name="parameters" element="ns:handleMessageResponse"/>
    </wsdl:message>
    <wsdl:message name="isAliveRequest">
        <wsdl:part name="parameters" element="ns:isAlive"/>
    </wsdl:message>
    <wsdl:message name="isAliveResponse">
        <wsdl:part name="parameters" element="ns:isAliveResponse"/>
    </wsdl:message>
    <wsdl:message name="messageAdapterRequest">
        <wsdl:part name="parameters" element="ns:messageAdapter"/>
    </wsdl:message>
    <wsdl:message name="messageAdapterResponse">
        <wsdl:part name="parameters" element="ns:messageAdapterResponse"/>
    </wsdl:message>
    <wsdl:portType name="SG2PBOSSServicePortType">
        <wsdl:operation name="replyWorkSheet">
            <wsdl:input message="ns:replyWorkSheetRequest" wsaw:Action="urn:replyWorkSheet"/>
            <wsdl:output message="ns:replyWorkSheetResponse" wsaw:Action="urn:replyWorkSheetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="handleMessage">
            <wsdl:input message="ns:handleMessageRequest" wsaw:Action="urn:handleMessage"/>
            <wsdl:output message="ns:handleMessageResponse" wsaw:Action="urn:handleMessageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="isAlive">
            <wsdl:input message="ns:isAliveRequest" wsaw:Action="urn:isAlive"/>
            <wsdl:output message="ns:isAliveResponse" wsaw:Action="urn:isAliveResponse"/>
        </wsdl:operation>
        <wsdl:operation name="messageAdapter">
            <wsdl:input message="ns:messageAdapterRequest" wsaw:Action="urn:messageAdapter"/>
            <wsdl:output message="ns:messageAdapterResponse" wsaw:Action="urn:messageAdapterResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SG2PBOSSServiceSoap11Binding" type="ns:SG2PBOSSServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="replyWorkSheet">
            <soap:operation soapAction="urn:replyWorkSheet" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="handleMessage">
            <soap:operation soapAction="urn:handleMessage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isAlive">
            <soap:operation soapAction="urn:isAlive" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="messageAdapter">
            <soap:operation soapAction="urn:messageAdapter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SG2PBOSSServiceSoap12Binding" type="ns:SG2PBOSSServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="replyWorkSheet">
            <soap12:operation soapAction="urn:replyWorkSheet" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="handleMessage">
            <soap12:operation soapAction="urn:handleMessage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isAlive">
            <soap12:operation soapAction="urn:isAlive" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="messageAdapter">
            <soap12:operation soapAction="urn:messageAdapter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SG2PBOSSServiceHttpBinding" type="ns:SG2PBOSSServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="replyWorkSheet">
            <http:operation location="SG2PBOSSService/replyWorkSheet"/>
            <wsdl:input>
                <mime:content type="text/xml" part="replyWorkSheet"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="replyWorkSheet"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="handleMessage">
            <http:operation location="SG2PBOSSService/handleMessage"/>
            <wsdl:input>
                <mime:content type="text/xml" part="handleMessage"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="handleMessage"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isAlive">
            <http:operation location="SG2PBOSSService/isAlive"/>
            <wsdl:input>
                <mime:content type="text/xml" part="isAlive"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="isAlive"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="messageAdapter">
            <http:operation location="SG2PBOSSService/messageAdapter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="messageAdapter"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="messageAdapter"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SG2PBOSSService">
        <wsdl:port name="SG2PBOSSServiceHttpSoap11Endpoint" binding="ns:SG2PBOSSServiceSoap11Binding">
            <soap:address location="http://10.252.45.82:1080/pboss/services/SG2PBOSSService.SG2PBOSSServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SG2PBOSSServiceHttpSoap12Endpoint" binding="ns:SG2PBOSSServiceSoap12Binding">
            <soap12:address location="http://10.252.45.82:1080/pboss/services/SG2PBOSSService.SG2PBOSSServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SG2PBOSSServiceHttpEndpoint" binding="ns:SG2PBOSSServiceHttpBinding">
            <http:address location="http://10.252.45.82:1080/pboss/services/SG2PBOSSService.SG2PBOSSServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
